.news {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;

    .loader {
        width: 5rem;
        margin: auto;
    }

    .network-err {
        margin: auto;
        color: #f44336;
    }

    .articles {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }

    .load-more {
        width: 130px;
        margin: auto;
        border: 0;
        outline: none;
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        padding: 6px 10px;
        box-sizing: border-box;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
        }
    }

    .btn-loader {
        width: 2rem;
        margin: auto;
    }
}

// mobile version
.mobile-news {
    width: 100%;
    height: inherit;
    min-height: inherit;
    margin: auto;
    max-width: 900px;
    overflow: hidden;
    position: relative;

    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .articles {
        display: block;
        gap: 1.5rem;
        margin-bottom: 0;
    }

    .slick-vertical .slick-slide {
        border: none;
    }
}