.header {
    width: 100%;
    height: 4.5rem;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    .nav-menu {
        display: flex;
        align-items: flex-start;
        position: fixed;
        left: 0;
        width: 0;
        transition: 0.3s;

        .menu-container {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            font-size: 15px;
            opacity: 0.8;
            cursor: pointer;
            position: relative;
            top: 1.5rem;
            left: 1rem;

            .bar-container {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .bar-line {
                    display: inline-block;
                    height: 2px;
                    width: 1.5rem;
                    background-color: black;
                    transition: 0.3s;
                }

            }

            .close-bar-container {
                .bar-line {
                    &:nth-child(1) {
                        rotate: 45deg;
                        position: relative;
                        top: 7px;
                        left: 4px;
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        rotate: -45deg;
                        position: relative;
                        left: 4px;
                    }
                }
            }
        }

    }

    .close-nav-menu {
        // width: 18rem;
        width: 100%;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 8rem;
        }
    }
}

@media screen and (max-width: 340px) {
    .header {
        justify-content: flex-end;
    }
}

// mobile version
.mobile-header {
    height: 2.5rem;
    transition: 0.3s;
    max-width: 900px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    .nav-menu {
        .menu-container {
            top: 12px;
            left: 0;
        }
    }

    .logo {
        display: none;
    }
}

.hide-header {
    transform: translate(-50%, -100%);
}