.news-article {
    width: 900px;
    height: 270px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 3px;
    padding: 8px;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 16px;
    user-select: none;

    .article-image {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;

        .title {
            color: #44444d;
            cursor: pointer;
            font-size: 22px;
            line-height: 27px;
        }

        .author-time {
            font-size: 12px;
            color: #808290;

            b {
                color: black;
            }
        }

        .description {
            margin: 0;
            margin-bottom: 2.5rem;
            color: #4f4f4f;
            font-size: 16px;
            line-height: 22px;
            margin-top: 8px;
        }

        .source {
            position: absolute;
            bottom: 0;
            font-size: 12px;
            margin-bottom: 8px;

            .name {
                text-decoration: none;
                font-weight: bold;
                color: black;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .news-article {
        max-width: 500px;
        width: 100%;
        min-height: 600px;
        grid-template-columns: unset;
        grid-template-rows: repeat(2, 1fr);
    }
}

// mobile version
.mobile-news-article {
    touch-action: none; // for stop reloading browser while drag down
    width: 100%;
    max-width: 100%;
    height: inherit;
    min-height: inherit;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 6fr) 1fr;
    grid-gap: 8px;

    .article-image {
        border-radius: 0;
    }

    .content {
        padding: 0 8px;
        box-sizing: border-box;

        .title {
            font-size: 16px;
            line-height: 20px;
        }

        .description {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 1rem;
        }

        .source {
            position: relative;
            margin-bottom: 0;
        }
    }

    .bottom-section {
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        font-size: 12px;
        font-weight: 100;
        padding: 8px;
        box-sizing: border-box;
        line-height: 16px;

        .image-link {
            font-size: 10px;
            text-decoration: none;
            color: white;
        }
    }
}